.tab-item {
  position: relative;
}

.tab-content {
  position: absolute;

  top: 24px;
  left: 0;
  right: 0;

  display: none;

  width: 600px;

  min-height: 250px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  border: 1px solid #888888;

  padding: 10px;
}

.tab-content.first-active {
  display: block;
  background-color: white;
}

.tab-title {
  color: blue;

  width: 100px;
  height: 24px;

  float: left;

  text-align: center;
  line-height: 1.6em;
  
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #CBCBCB;  
}

.tab-title:hover {
  cursor: pointer;
  background-color: #ccc;
}

#tab-one:target .tab-title,
#tab-two:target .tab-title,
#tab-three:target .tab-title,
#tab-four:target .tab-title {
  background-color: white;
}

#tab-one:target .tab-content,
#tab-two:target .tab-content,
#tab-three:target .tab-content,
#tab-four:target .tab-content {
  display: block;
  background-color: white;
}